[submodule "src/wats/vendor/github.com/cloudfoundry-incubator/cf-test-helpers"]
	path = src/wats/vendor/github.com/cloudfoundry-incubator/cf-test-helpers
	url = http://github.com/cloudfoundry-incubator/cf-test-helpers
[submodule "src/wats/vendor/github.com/cloudfoundry/dropsonde"]
	path = src/wats/vendor/github.com/cloudfoundry/dropsonde
	url = http://github.com/cloudfoundry/dropsonde
[submodule "src/wats/vendor/github.com/cloudfoundry/gosteno"]
	path = src/wats/vendor/github.com/cloudfoundry/gosteno
	url = http://github.com/cloudfoundry/gosteno
[submodule "src/wats/vendor/github.com/cloudfoundry/loggregatorlib"]
	path = src/wats/vendor/github.com/cloudfoundry/loggregatorlib
	url = http://github.com/cloudfoundry/loggregatorlib
[submodule "src/wats/vendor/github.com/cloudfoundry/noaa"]
	path = src/wats/vendor/github.com/cloudfoundry/noaa
	url = http://github.com/cloudfoundry/noaa
[submodule "src/wats/vendor/github.com/cloudfoundry/sonde-go"]
	path = src/wats/vendor/github.com/cloudfoundry/sonde-go
	url = http://github.com/cloudfoundry/sonde-go
[submodule "src/wats/vendor/github.com/elazarl/goproxy"]
	path = src/wats/vendor/github.com/elazarl/goproxy
	url = http://github.com/elazarl/goproxy
[submodule "src/wats/vendor/github.com/gogo/protobuf"]
	path = src/wats/vendor/github.com/gogo/protobuf
	url = http://github.com/gogo/protobuf
[submodule "src/wats/vendor/github.com/golang/protobuf"]
	path = src/wats/vendor/github.com/golang/protobuf
	url = http://github.com/golang/protobuf
[submodule "src/wats/vendor/github.com/gorilla/websocket"]
	path = src/wats/vendor/github.com/gorilla/websocket
	url = http://github.com/gorilla/websocket
[submodule "src/wats/vendor/github.com/nu7hatch/gouuid"]
	path = src/wats/vendor/github.com/nu7hatch/gouuid
	url = http://github.com/nu7hatch/gouuid
[submodule "src/wats/vendor/github.com/onsi/ginkgo"]
	path = src/wats/vendor/github.com/onsi/ginkgo
	url = http://github.com/onsi/ginkgo
[submodule "src/wats/vendor/github.com/onsi/gomega"]
	path = src/wats/vendor/github.com/onsi/gomega
	url = http://github.com/onsi/gomega
[submodule "src/wats/vendor/gopkg.in/yaml.v2"]
	path = src/wats/vendor/gopkg.in/yaml.v2
	url = https://github.com/go-yaml/yaml.git
[submodule "src/wats/vendor/golang.org/x/crypto"]
	path = src/wats/vendor/golang.org/x/crypto
	url = https://go.googlesource.com/crypto
[submodule "src/wats/vendor/code.cloudfoundry.org/archiver"]
	path = src/wats/vendor/code.cloudfoundry.org/archiver
	url = https://github.com/cloudfoundry/archiver
